version: 2.1
orbs:
  python: circleci/python@2.1.1

jobs:
  build_and_test:
    executor:
      name: python/default
      tag: 3.9
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pipenv
      - run:
          name: Run tests
          command: make test

workflows:
  build_test:
    jobs:
      - build_and_test
